body {
	font-family: sans-serif;
}

/*
-- Example 1
*/

.example1 {
	counter-reset: section;
	/* reset it to another value */
	/* counter-reset: section -1; */
}

.example1 h2::before {
	counter-increment: section;
	/* increment it by another value */
	/* counter-increment: section 2; */

	/* counter() function */
	content: counter(section) ". ";
}

/*
-- Example 2
*/

.example2 ol {
	counter-reset: list;
	list-style-type: none;
}

.example2 li::before {
	counter-increment: list;
	/* counters() (note the "s") function */
	content: counters(list,".") ". ";
}

/*
-- Example 3
*/

.example3 ol {
	counter-reset: list2;
	list-style-type: none;
}

/*
available styles
Source: https://css-tricks.com/numbering-in-style/

disc (• • •)
circle (○ ○ ○)
square (▪ ▪ ▪)
decimal (1 2 3)
decimal-leading-zero (01, 02, 03)
lower-roman (i ii iii)
upper-roman (I II III)
lower-greek (α β γ)
lower-latin (a b c)
upper-latin (A B C)
armenian (Ա Բ Գ)
georgian (ა ბ გ)
lower-alpha (a b c)
upper-alpha (A B C)
*/

.example3 li::before {
	counter-increment: list2;
	/* counters() (note the "s") function */
	content: counters(list2,".",lower-alpha) ". ";
}

/*
-- Example 4
*/

.example4 ol {
	/* resetting two counters */
	counter-reset: counter1 counter2;
	list-style-type: none;
}

/* just for first-level lis */
.example4 > ol > li::before {
	counter-increment: counter1;
	content: counter(counter1,lower-roman) ". ";
}

/* just for second-level onward lis */
.example4 > ol > li li::before {
	counter-increment: counter2;
	content: counter(counter2,lower-greek) ". ";
}

/* for all lis in this example */
.example4 li::before {
	display: inline-block;
	width: 1.15em;
	margin-left: -1.15em;
}