/*
-- Example Styles
*/

.example1, .example2 {
	/*-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;

	-moz-column-width: 10rem;
	-webkit-column-width: 10rem;
	column-width: 10rem;*/
	
	-moz-columns: 3 10rem;
	-webkit-columns: 3 10rem;
	columns: 3 10rem;

	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	column-gap: 2em;

	-moz-column-rule: 1px solid #CCC;
	-webkit-column-rule: 1px solid #CCC;
	column-rule: 1px solid #CCC;
}

.example2 .highlight {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.example2 h2, .example2 img {
	display: block;
	margin: 2rem 0;

	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;
}

.example3 {
	-moz-columns: 3 10rem;
	-webkit-columns: 3 10rem;
	columns: 3 10rem;
}

/*
-- Base Styles
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: sans-serif;
	background: #EEE;
}

body {
	max-width: 60em;
	min-width: 20em;
	background: #FFF;
	padding: 1em;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

h1, h2 {
	margin-bottom: 1rem;
	line-height: 1.5;
	border-bottom: 1px solid #CCC;
}

p {
	margin-bottom: 1.5em;
	line-height: 1.5;
}

ul {
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

div {
	margin-bottom: 1.5rem;
}

.highlight {
	background: #FFC;
	padding: 1em;
}

.highlight p:last-child {
	margin-bottom: 0;
}