body {
	font-size: 200%;
	max-width: 40em;
	margin: 2em auto;
	padding: 2em;
	font-family: sans-serif;
}

div {
	margin-bottom: 1.5em;
	text-align: center;
	padding: 0.5em;
}

button {
	font-size: 1em;
}

p {
	margin: 0;
}

.example1 {
	color: red;
	border: 0.2em solid black;
}

.example2 {
	color: green;
	box-shadow: 0 0 1em black;
}

.example2 p {
	text-shadow: 2px 2px 2px black;
}

.example3 {
	background: white;
	color: blue;
	border: 3px solid black;
	transition: all 0.2s ease;
}

.example3:hover {
	color: orange;
}

.example4 {
	background: white;
	color: gray;
	border: 3px solid black;
	transition: all 0.2s ease;
}

.example4:hover {
	color: orange;
}

.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
}