//
//-- Forms
//

.field {
	margin-bottom: 0.875em;
}

fieldset.group .field {
	float: left;
	margin-right: 2%;
}

select option {
	padding-right: 1em;
}

.field label abbr {
	color: #C00;
	font-size: 1.25em;
	height: 0.8em;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
	border: 0;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="tel"],
.field input[type="url"],
.field input[type="password"],
.field select,
.field textarea {
	display: block;
	padding: 0.2em;
	border: 1px solid #CCC;
	
	width: 100%;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}

.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field input[type="tel"]:focus,
.field input[type="url"]:focus,
.field input[type="password"]:focus,
.field select:focus,
.field textarea:focus {
	background: #FFC;
}

.field label.checkbox {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
}

.field label.checkbox input {
	display: inline-block;
	vertical-align: middle;
}

.button {
	font-size: 0.875em;
	text-align: center;
	display: inline-block;
	border: 0;
	padding: 0.2em 1.5em;
	background: #333;
	color: #FFF;
	text-transform: uppercase;
}

a.button {
	color: #FFF;
	text-decoration: none;
	padding: 0.5em 1em;
}

.button:hover, .button:focus {
	background: #666;
}

.button:active {
	box-shadow: inset -2px -2px 2px rgba(0,0,0,0.15);
	text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
}

.button.submit {
	background: #eeb310;
}

.button.submit:hover, .button.submit:focus {
	background: #eeb310;
}

.message {
	background: #900;
	color: #FFF;
	padding: 0.3em 0.7em;
	font-size: 0.875em;
	margin-bottom: 1em;
	font-weight: normal;
	text-transform: uppercase;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}