//
//-- General Use Classes
//

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.clear {
	clear: both;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.a-center {
	text-align: center;
}

.a-left {
	text-align: left;
}

.a-right {
	text-align: right;
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hide {
	display: none !important;
	visibility: hidden;
}

.hide-vis {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hide-vis.focusable:active,
.hide-vis.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}